* {
    box-sizing: border-box;
  }
  body {
    background: #f4f4f4;
  }
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dd {
    margin: 0;
    font: 14px/1.5 Helvetica, sans-serif, STHeiTi;
    color: #333;
  }
  a {
    text-decoration: none;
  }
  ul,
  li,
  dl,
  dt,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  form,
  input,
  button,
  textarea {
    margin: 0;
    padding: 0;
    outline: none;
  }
  .clearFloat:after {
    content: "";
    display: block;
    clear: both;
  }
  img {
    display: block;
    border: 0;
  }